*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, canvas, video{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: 'Raleway', 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

/*header style start*/

header{
    max-width: 100%;
    background-color: white;
    /*height: 200px;*/
}

.container{
    margin: 0 auto;
    width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    border: 2px solid #F7F7F7;
}

.page-logo{
    text-decoration: none;
    color: #08A6E4;
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 136px;
}

.page-nav-list{
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
}

.page-nav-list li a{
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    color: #A5A5A5;
    text-transform: uppercase;
    margin: 40px;
}

.page-nav-list li a:hover{
    color: #000000;
    border-bottom: 3px solid #08A6E4;
}

/*header style end*/
/*Opener style start*/

.opener{
    margin: 0 auto;
    width: 1352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 742px;
    border-left: 2px solid #F7F7F7;
    border-right: 2px solid #F7F7F7;
}

h1{
    text-transform: capitalize;
    font-size: 49px;
    text-align: center;
    color: #000000;
    margin-top: 130px;
}

.opener p{
    font-family: "Open Sans";
    color: #000000;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
}

.btn-1{
    font-family: "Open Sans";
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background-color: #08A6E4;
    border-radius: 40px;
    padding: 22px 157px;
    transition: 0.5s;
    box-shadow: 5px 10px 14px #07ACE629;
    margin-top: 38px;
}

.btn-1:hover{
    background-color: #2ac8f6;    
}

/*Opener style end*/
/*Stats style start*/


.stats{
    height: 531px;
}

.stats-container{
    margin: 0 auto;
    width: 1352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid #F7F7F7;
    border-right: 2px solid #F7F7F7;
}

h2{
    font-size: 2rem;
    text-align: center;
    color: #000000;
    margin-top: 100px;
}

.circles-container{
    display: flex;
    margin-top: 100px;
}

.circle-box{
    flex-grow: 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
}

.red{
    background-color: #FB3B64;
}

.blue{
    background-color: #08A6E4;
}

.green{
    background-color: #55DFB4;
}

h3{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.circle-box p{
    color: #A5A5A5;
    text-align: center;
    font-size: 17px;
}

.circle img{
    position: relative;
    top: 10px;
    left: 30px;
}