$desktop: 1352px;

$font-primary: 'Raleway', 'Open Sans', sans-serif;
$font-secondary: "Open Sans";


$color-border: #00000029;
$color-logo:  #08A6E4;
$color-redish:  #FB3B64;
$color-greenish:  #55DFB4;
$color-background: #F7F7F7;
$color-shadow: #00000029;
$color-grey: #a5a5a5;

$main-spacing: 10px;