.opener {
    padding: 0 15px;
    @include opener-container(100%);
    @include desktop {
        margin: 0 auto;
        @include opener-container(1352px);
    }

    p {
        font-family: $font-secondary;
        color: #000000;
        text-align: center;
        margin-top: 20px;
    }
}
