.stats-container{
    padding: 0 15px;
    @include stats-container(100%, 100vh);
    @include desktop {
        margin: 0 auto;
        @include stats-container(1352px, 420px);
    }
    .circles-container{
        flex-direction: column;
        @include desktop {
            flex-direction: row;
        }
        .circle-box{
            margin-top: 60px;
        }
    }
}