.circles-container {
    display: flex;
    margin-top: 100px;
}

.circle-box {
    flex-grow: 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    img {
        position: relative;
        top: 10px;
        left: 30px;
    }
}

.red {
    background-color: #fb3b64;
}

.blue {
    background-color: #08a6e4;
}

.green {
    background-color: #55dfb4;
}

.circle-box {
    p {
        color: #a5a5a5;
        text-align: center;
        font-size: 17px;
    }
}
