.container {
    padding: 0 15px;
    @include container(100%);

    @include desktop {
        margin: 0 auto;
        @include container(1352px);
    }
}

.page-logo {
    @include page-logo(3%);
    @include desktop {
        @include page-logo(136px);
    }
}

.page-nav-list {
    @include page-nav-list(3%);
    @include desktop {
        @include page-nav-list(130px);
    }
    li {
        a {
            text-decoration: none;
            font-family: "Open Sans";
            font-weight: 700;
            font-size: 11px;
            text-align: center;
            color: $color-grey;
            text-transform: uppercase;
            margin: 10px;
            @include desktop {
                text-decoration: none;
                font-family: "Open Sans";
                font-weight: 700;
                font-size: 11px;
                text-align: center;
                color: $color-grey;
                text-transform: uppercase;
                margin: 40px;
            }
            &:hover {
                color: #000000;
                border-bottom: 3px solid $color-logo;
                padding-bottom: 25px;
            }
        }
    }
}
